.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.searchButton, .getAllButton, .sortByWeekButton, .favouriteButton, .translatorButton{
    width: 15vw;
    min-width: 175px;
    height: 5vh;
    background-color: var(--lightColor);
    border: 1px solid var(--darkColor);
    border-radius: 5px;
    color: var(--darkColor);
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.searchButton:hover, .getAllButton:hover, .sortByWeekButton:hover, .favouriteButton:hover, .translatorButton:hover {
    opacity: 0.8;
    cursor: pointer;
  }

.input{
    width: 75vw;
    height: 7vh;
    background-color: white;
    border: 1px solid var(--darkColor);
    border-radius: 5px;
    color: var(--darkColor);
    font-size: 100%;
    font-weight: bold;
    margin: 15px;
}

.languageDiv{
    display:flex;
    justify-content:space-between;
    justify-content: center;
    padding: 10px;
}

.translatorButtonDiv{
    display: flex;
    justify-content: center;
}