.start-container {
  width: 100vw;
  height: 100vh;
}

.imageDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.animation-logo {
  margin-top: 3%;
}

.chooseYourLanguage {
  color: var(--lightColor);
  font-size: 2rem;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
}

.langButtonDiv {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.langButtonEnglish {
  background-image: url(../../images/British\ flag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vh;
  margin: 2%;
}

.langButtonSpanish {
  background-image: url(../../images/Spanish\ flag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vh;
  margin: 2%;
}

.langButtonFrench {
  background-image: url(../../images/French\ flag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vh;
  margin: 2%;
}

.langButtonGerman {
  background-image: url(../../images/German\ flag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vh;
  margin: 2%;
}

.colourButton {
  background-image: url(../../images/paint-brush-color-wheel-palette-blue-handle-44844451.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vh;
  margin: 2%;
}